{% extends 'shop/base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}
    <h1>Новый пароль</h1>
    <div class="pass_res_conf">
        {% if validlink %}
            <p>Пожалуйста, введите новый пароль дважды</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Изменить мой пароль" /></p>
            </form>
        {% else %}
            <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже
             был использован. Пожалуйста, запросите сброс нового пароля.</p>
        {% endif %}
    </div>
{% endblock %}