{% extends "shop/base.html" %}

{% block title %}Письмо отправлено!{% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
{% endblock %}

{% block content %}
    <h1>Сбросить пароль</h1>
    <div class="res_done">
        <p>Вам была отправлена инструкция установки пароля по эл.почте</p>
        <p>Если вы не получили эл.письмо, то убедитесь, что вы ввели
        адрес, с которым зарегистрировались</p>
    </div>
{% endblock %}