/* password_reset_complete.css */
.pass_res_com {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pass_res_com h1 {
    font-size: 24px;
    color: #460078;
    text-align: center;
    margin-bottom: 20px;
}

.pass_res_com p {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.pass_res_com a {
    color: #460078;
    text-decoration: underline;
}

.pass_res_com a:hover {
    color: #5C1A95;
}
