/*password_reset_confirm*/
/*password_reset_confirm*/
/*password_reset_confirm*/
.pass_res_conf {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pass_res_conf p {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; /* Добавьте эту строку */
}

.pass_res_conf form {
    margin-top: 15px;
}

.pass_res_conf input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 10px; /* Добавьте эту строку */
}

.pass_res_conf input[type="submit"] {
    background-color: #460078;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px; /* Добавьте эту строку */
}

.pass_res_conf input[type="submit"]:hover {
    background-color: #5C1A95;
}